	<div class="popup mfp-hide" id="feedback">
		<form action="">
			<div class="user-data">
				<div class="user-name">
					<label for="name">Ваше имя</label>
					<input type="text" name="name" id="name" placeholder="Представтесь, пожалуйста">
				</div>
				<div class="user-email">
					<label for="email">Email:</label>
					<input type="text" name="email" id="email" placeholder="Для отправки ответа">
				</div>
			</div>
			<label for="text">Текст письма:</label>
			<textarea name="text" id="text" placeholder="В свободной форме"></textarea>
			<input class="btn" type="submit"></input >
			<input class="btn" type="reset"></input >
		</form>
	</div>