$font-size:14px;
$font-family: 'Roboto', sans-serif;
$btn-height:38px;


// color
$nav-hover: #fa5559;
$nav-active:#d1d1d1;
$nav-static:#000;

$btn-red: #fb5559;
$btn-red-active:#b63438;
$btn-red-hover:#d5494d;

$btn-green:#00c973;
$btn-green-active:#01a152;
$btn-green-hover:#008f53;

$btn-yellow:#efc749;
$btn-yellow-active:#d6ad2b;
$btn-yellow-hover:#c09b24 ;

$btn-grey: #f1f1f1;
$btn-grey-active: #d5d5d5;
$btn-grey-hover: #e5e5e5;



